/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  color: rgb(128, 0, 45);
  background-color: rgb(127,127,127);
}

h1 {
  font-style: italic;
  color: rgb(128, 0, 45);
}
